/* NAVIGATION */

nav {
	height: 10vh;
	display: flex;
	align-items: center;
}

.nav__content {
	display: flex;
	text-transform: uppercase;
	font-size: 18px;
}

.nav__list {
	display: flex;
	list-style-type: none;
}

.nav__item {
	padding: 8px 32px;
}

.nav__link {
	cursor: pointer;
	color: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(5, 16, 74, 1) 25%,
		rgba(121, 9, 109, 1) 50%,
		rgba(114, 61, 182, 1) 75%,
		rgba(2, 0, 36, 1) 100%
	);
}

#menu {
	position: relative;
}

.nav__menu {
	display: none;
	z-index: 5;
	position: absolute;
	background-color: #fff;
	width: fit-content;
	padding: 16px 8px;
	border: 1px solid black;
	bottom: -250%;
	height: 100px;
	/* left: 25%; */
	/* display: none; */
}

.nav__menu ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: space-between;
	height: 100%;
}

.menu_shown {
	display: block;
}
