/* HEADER */

@media (max-width: 1120px) {
	header {
		width: calc(100% - 128px);
		height: 10vh;
		display: flex;
		justify-content: center;
	}

	.header__logo {
		margin: 8px;
	}

	.header__logo img {
		width: 64px;
		height: auto;
		object-fit: cover;
	}

	header h1 {
		display: none;
	}
}
