/* NAVIGATION */

@media (max-width: 1120px) {
	nav {
		height: 10vh;
		display: flex;
		align-items: center;
	}

	.nav__item {
		padding: 8px 8px;
	}
}

@media (orientation: portrait) and (max-width: 1000px) {
	.nav__content {
		font-size: 24px;
	}
}
