/* POST */

@media (orientation: portrait) {
	.post {
		min-width: calc(100% - 32px);
		height: calc(100% - 32px);
	}

	.post__title {
		font-size: 3em;
		letter-spacing: 2px;
		padding: 16px;
	}

	.post__date {
		flex-grow: 1;
		font-size: 1.5em;
		padding: 32px 16px;
	}

	.date__text {
		padding: 12px 24px;
	}
}
