/* SIDEBAR */

.sidebar {
	flex-grow: 1;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 1000px) {
	.sidebar {
		display: none;
	}
}

.sidebar__content {
	text-transform: uppercase;

	font-size: 24px;
	height: 256px;
}

.sidebar__list {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.sidebar__item {
	display: flex;
}
