/* POST */

.hero-post {
	display: flex;
	background-color: rgba(255, 255, 255, 0.185);
	color: rgb(255, 255, 255);
	width: 25%;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	cursor: pointer;

	transition: all 0.2s;
}

.hero-post__content {
	position: relative;
	overflow: hidden;
	flex-direction: column;
	height: 100%;
}

.hero-post__title {
	background-color: rgba(255, 255, 255, 0.5);

	color: white;
	font-size: 1em;
	text-shadow: 0 3px 5px rgb(0 0 0 / 0.3);
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1rem;

	transition: 0.5s ease;
}

.hero-post__description {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background: rgba(2, 0, 36, 0.5);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	backdrop-filter: blur(8px);
}

.hero-post__content:hover .hero-post__description {
	bottom: 0;
	height: 100%;
}

.hero-post__content:hover .hero-post__title {
	transform: translate(0, -100%);
}

.hero-post__content:hover .hero-post__date {
	transform: translate(0, 100%);
}

.description__text {
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 25%;
	left: 16px;
}

.hero-post__img {
	flex-grow: 7;
	display: block;
	width: 100%;
	height: 50%;
	object-fit: cover;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

	transition: 0.5s ease;
}

.hero-post__date {
	flex-grow: 1;
	font-size: 0.5em;
	background-color: rgba(255, 255, 255, 0.5);

	text-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
	color: rgb(0, 0, 0);
	transition: 0.5s ease;
	padding: 1rem;
}

.date__text {
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	padding: 6px 12px;
}
