.photo {
	display: block;
	box-shadow: 0 3px 15px rgb(0 0 0 / 0.8);
	width: 25%;
}

.photo__content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.photo__img {
	display: block;
	object-fit: cover;
	width: 100%;
}

.photo__caption {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #fff;
	padding: 1rem;
}

.photo__title {
}

.photo__author {
}
